* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

button {
  all: unset;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80rem;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  gap: 1.6rem;
}

.result__container {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding: 2.4rem 2.8rem;
  text-align: center;
  border-radius: 30px;
}

.result__header,
.summary__header {
  font-size: 2.4rem;
  font-weight: 700;
  display: inline-block;
  color: hsl(241, 100%, 89%);
  margin-bottom: 1.6rem;
}

.result__score-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.4rem 3.4rem;
}

.result__text-box {
  background: linear-gradient(
    hsla(256, 72%, 46%, 0.894),
    hsla(241, 72%, 46%, 0.255)
  );
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.8rem;
}

.result__score {
  font-size: 7.4rem;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}

.result__grade {
  font-size: 3rem;
  font-weight: 700;
  color: hsl(221, 100%, 96%);
  margin-bottom: 2.4rem;
}

.result__total {
  display: inline-block;
  font-size: 2rem;
  color: hsla(241, 100%, 89%, 0.442);
}

.result__description {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(241, 100%, 89%);
  margin-bottom: 1.8rem;
}

span {
  color: hsla(224, 30%, 27%, 0.337);
}

.summary__container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem 3.6rem;
}

.summary__header {
  color: hsl(224, 30%, 27%);
  margin-bottom: 0;
}

.summary__category:not(:last-child) {
  margin-bottom: 2rem;
}

.summary__category:last-child {
  margin-bottom: 2.4rem;
}

.summary__category {
  list-style: none;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.049);
  border-radius: 9px;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 700;
}

.summary__icon-container {
  display: flex;
  gap: 1.6rem;
}

.summary__score-total {
  color: hsl(224, 30%, 27%);
}

.reaction {
  color: hsla(0, 100%, 67%, 0.6);
  background-color: hsla(0, 100%, 67%, 0.1);
}

.memory {
  color: hsla(39, 100%, 56%, 0.6);
  background-color: hsla(39, 100%, 56%, 0.1);
}

.verbal {
  color: hsla(166, 100%, 37%, 0.6);
  background-color: hsla(166, 100%, 37%, 0.1);
}

.visual {
  color: hsla(234, 85%, 45%, 0.6);
  background-color: hsla(234, 85%, 45%, 0.1);
}

.btn {
  display: block;
  width: 88%;
  text-align: center;
  background-color: hsl(224, 30%, 27%);
  color: #fff;
  font-size: 2rem;
  padding: 1.6rem 2.4rem;
  border-radius: 100px;
}

.btn:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* MEDIA QUERIES */

@media (max-width: 26em) {
  html {
    font-size: 55%;
  }
  .grid {
    display: flex;
    flex-direction: column;
  }

  .result__container {
    padding: 0.4rem 1.8rem;
  }

  .result__text-box {
    width: 15rem;
    height: 15rem;
    margin-bottom: 3.2rem;
  }

  .result__header {
    margin-bottom: 0.6rem;
  }

  .result__score {
    font-size: 5.2rem;
  }
  .result__total {
    font-size: 1.6rem;
  }
  .result__description {
    margin-bottom: 1.4rem;
  }
  .result__grade {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
}
